.nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
    margin-top: 2em;
    color: white;
}

.nav button{
    position: fixed;
    padding: 0.4em;
    font-weight:500;
    font-size: large;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: .5px .5px 5px 0px rgba(0,0,0,0.75);
}

.nav button:hover{
    background-color: grey;
    transition: ease-in-out;
    box-shadow: .5px .5px 5px 0px rgba(0,0,0,0.75);
}


.welcome-message{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: x-large;
}